firmware/.vscode
firmware/.eide.usr*
firmware/build
firmware/.eide

pcb/controller/*-backups
pcb/controller/*-cache
pcb/controller/*.kicad_prl

pcb/motherboard/*-backups
pcb/motherboard/*-cache
pcb/motherboard/*.kicad_prl

pcb/holder/QS-27/*-backups
pcb/holder/QS-27/*-cache
pcb/holder/QS-27/*.kicad_prl

pcb/holder/IN12/*-backups
pcb/holder/IN12/*-cache
pcb/holder/IN12/*.kicad_prl
