firmware/.vscode
firmware/.eide.usr*
firmware/build
firmware/.eide

circuit/controller/*-backups
circuit/controller/*-cache
circuit/controller/*.kicad_prl

circuit/motherboard/*-backups
circuit/motherboard/*-cache
circuit/motherboard/*.kicad_prl

circuit/holder/QS-27/*-backups
circuit/holder/QS-27/*-cache
circuit/holder/QS-27/*.kicad_prl

circuit/holder/IN12/*-backups
circuit/holder/IN12/*-cache
circuit/holder/IN12/*.kicad_prl
